:root{
    --soft-blue:hsl(215, 51%, 70%);
    --cyan:hsl(178, 100%, 50%);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body{
    background-color: var(--Very-dark-blue-main-BG);
}

.fondo-img{
    border-radius: 10%;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

section{
    background-color: var(--Very-dark-blue-card-BG);
    margin: 0 auto;
    width: 300px;
    height: 500px;
    border-radius: 5%;
    padding: 1em;
}

.letras-blancas{
    color: var(--White);
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 10px 0 28px 0;
}

.letras-chiquitas{
    color: var(--soft-blue);
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 10px 0 28px 0;
}

.letras-cyan{
    color: var(--cyan);
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    float: left;
}

.letras-clock{
    color: var(--soft-blue);
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    float: right;
}

.footer{
    padding-top: 1em;
    clear: both;
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}

.l-izq{
    color: var(--soft-blue);
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.l-der{
    color: var(--White);
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.img-footer{
    width: 2em;
    height: auto;
    clear: both;
    padding-right: 1em;
    padding-top: 5px;
}
